<div class="title">
    <a data-ng-href="#/events/{{ eventId }}">&larr;</a>
    <h2>Guest</h2>
</div>
<form class="pane"  name="guestForm" data-ng-submit="add(guest)" novalidate>
	<div class="form-group">
		<label>name</label>
		<input type="text" data-ng-model="guest.name" required data-ng-value="{{ guest.name }}" class="form-control"/>
        <p class="error" data-ng-show="guestForm.name.$invalid && guestForm.name.$dirty">Please enter an guest name.</p>
	</div>

	<div class="form-group">
		<label>Contribution</label>
		<input type="text" data-ng-model="guest.contribution" data-ng-value="{{ guest.contribution }}" class="form-control"/>
	</div>

	<div class="form-group">
		<label>Comment</label>
		<input type="text" data-ng-model="guest.comment" data-ng-value="{{ guest.comment }}" class="form-control"/>
	</div>

    <div class="form-group">
        <button class="btn btn-info" data-ng-disabled="guestForm.$invalid || isValidDate()" type="submit" name="button">Save</button>
    </div>
</form>
