body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #EEE;
}

.error {
    color: red;
}

a {
    color: #009688;
}

.app {
}

.darkbar {
    background: #512DA8;
    height: 3em;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #673AB7;
    padding: 2em;
    color: white;
    height: 6em;
}

.title a {
    color: #FFFFFF;
    display: inline-block;
    margin: auto 5px auto 0;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}
h2 {
    color: #FFFFFF;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

ul li {
    padding: 0.5em 0em 0.5em;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.split {
    flex-grow: 1;
}

.side {
    flex-grow: 1;
}

.center {
    flex-grow: 3;
}

.event-item {
    padding-left: 15em;
}

.btn-info {
    background-color: #FF4081;
    border-color: #FF4099;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #FF4081;
    box-shadow: 0.3em 0.3em 0.3em #888888;
    border-color: #FF4099;
}


.eventlist:hover {
    transition: all 0.5s linear;
    background: #D1C4E9;
}

 ul > li > a {
	 padding: 0.25rem 0;
 }

 /**
  * links
  */
a, a:link, a:visited {
	 text-decoration: none;
 }


form {
    display: flex;
    flex-direction: column;
	padding: 0.5rem;
}

.form-group > * {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group.col-6-2-2 > * {
    flex-grow: 2;
}
.form-group > *:first-child {
    flex-grow: 6;
}

li.canceled {
    text-decoration: line-through;
}

