<div class="title">
    <a href="#/">&larr;</a>
    <h2>{{event.name}}</h2>
</div>
<div class="content">
    <div class="side"></div>
    <div class="center">
        <div class="content">
            <div class="split">
                <p>{{event.description}}</p>
                <p>
                    <i>Maximal amount of guests:</i>
                    ({{event.totalGuests()}} / {{event.maximalAmountOfGuests?event.maximalAmountOfGuests:'-'}})
                </p>

                <h3 data-ng-if="event.targetGroup">Target group</h3>
                <p data-ng-if="event.targetGroup">{{event.targetGroup}}</p>

                <h3 data-ng-if="event.contributionsDescription">Event contribution description</h3>
                <p data-ng-if="event.contributionsDescription">{{event.contributionsDescription}}</p>

                <h3>Location</h3>
                <p>
                    <i>{{event.location.name}}</i><br />
                    {{event.location.street}}<br />
                    {{event.location.plz}} {{event.location.city}}
                </p>

                <h3>Date &amp; time</h3>
                <p>{{event.times.begin | date:"dd.MM.yy HH:mm"}} - {{event.times.end | date:"dd.MM.yy HH:mm"}}</p>

                <h3 data-ng-if="event.guests && event.guests.length > 0">Guests</h3>
                <p data-ng-if="event.guests && event.guests.length > 0">{{ totalGuests() }}</p>
            </div>
            <div class="split">
                <ul>
                    <li data-ng-repeat="guest in event.guests" data-ng-class="{ canceled: guest.canceled }">
                        <a data-ng-href="#/events/{{ event.id }}/guest/{{ guest.id }}">
                            Name: <strong>{{ guest.name }}</strong><br />
                            Contribution: {{ guest.contribution }}<br />
                            Comment: {{ guest.comment }}
                        </a>
                        <br />
                        <a class="btn btn-info" data-ng-click="toggleCanceled(guest)">Toggle Cancel</a>
                    </li>
                </ul>
                <p><a data-ng-if="!isFull()" data-ng-href="#/events/{{ event.id }}/guest">add guest</a></p>
                <p data-ng-if="isFull()" class="error">Event is full: {{totalGuests()}} / {{event.maximalAmountOfGuests}}!</p>
            </div>

        </div>
    </div>
    <div class="side"></div>
</div>