<div class="title">
    <a href="#/">&larr;</a>
    <h2>Event</h2>
</div>
<event-form model="event" date-range="dateRange" add="add" is-valid-date="isValidDate" is-capacity-right="isCapacityRight"></event-form>