<form class="pane" name="eventForm" data-ng-submit="add()" novalidate>
    <div class="form-group">
        <label for="eventName">Event name</label>
        <input type="text" data-ng-model="event.name" id="eventName" name="name" placeholder="Event name..." class="form-control" required />
        <p class="error" data-ng-show="eventForm.name.$invalid && eventForm.name.$dirty">Please enter an event name.</p>
    </div>

    <div class="form-group">
        <label for="eventDescription">Description</label>
        <input type="text" data-ng-model="event.description" id="eventDescription" name="description" placeholder="Event Description" class="form-control"  required />
        <p class="error" data-ng-show="eventForm.description.$invalid && eventForm.description.$dirty">Please enter an event description.</p>
    </div>

    <div class="form-group">
        <label for="eventMaxAmountOfGuests">Maximal amount of guests</label>
        <input type="number" data-ng-model="event.maximalAmountOfGuests" id="eventMaxAmountOfGuests" name="maxAmountOfGuests" class="form-control"/>
        <p class="error" data-ng-show="eventForm.maxAmountOfGuests.$error.required && eventForm.maxAmountOfGuests.$dirty">Please enter the max amount of guests.</p>
        <p class="error" data-ng-show="eventForm.maxAmountOfGuests.$error.number && eventForm.maxAmountOfGuests.$dirty">Please enter a number.</p>
        <p class="error" data-ng-show="eventForm.maxAmountOfGuests.$valid && !isCapacityRight()">Max amount of guests can't be lower then the actual guest amount.</p>
    </div>

    <div class="form-group">
        <label for="eventTargetGroup">Target group</label>
        <input type="text" data-ng-model="event.targetGroup" id="eventTargetGroup" name="targetGroup" placeholder="Target group..." class="form-control" />
        <p class="error" data-ng-show="eventForm.targetGroup.$invalid && eventForm.targetGroup.$dirty">Please enter a target group.</p>
    </div>

    <div class="form-group">
        <label for="eventContributionDescription">Event contribution description</label>
        <input type="text" data-ng-model="event.contributionsDescription" id="eventContributionDescription" name="contributionDescription" placeholder="Event contribution description..." class="form-control"/>
        <p class="error" data-ng-show="eventForm.contributionDescription.$invalid && eventForm.contributionDescription.$dirty">Please enter a contribution description.</p>
    </div>

    <div class="form-group">
        <label for="locationName">Location</label>
        <input type="text" data-ng-model="event.location.name" id="locationName" name="locationName" placeholder="Name" class="form-control" required />
        <input type="text" data-ng-model="event.location.street" name="locationStreet" placeholder="Street" class="form-control" required />
        <input type="number" data-ng-model="event.location.plz" name="locationPlz" placeholder="ZIP Code" class="form-control" required/>
        <input type="text" data-ng-model="event.location.city" name="locationCity" placeholder="City" class="form-control" required/>
        <p class="error" data-ng-show="eventForm.locationName.$invalid && eventForm.locationName.$dirty">Please enter a location name.</p>
        <p class="error" data-ng-show="eventForm.locationStreet.$invalid && eventForm.locationStreet.$dirty">Please enter a location street.</p>
        <p class="error" data-ng-show="eventForm.locationPlz.$error.required && eventForm.locationPlz.$dirty">Please enter a location plz.</p>
        <p class="error" data-ng-show="eventForm.locationPlz.$error.number && eventForm.locationPlz.$dirty">Please enter a correct location plz.</p>
        <p class="error" data-ng-show="eventForm.locationCity.$invalid && eventForm.locationCity.$dirty">Please enter a location city.</p>
    </div>

    <div class="form-group">
        <label for="eventBeginDate">Date &amp; Times</label>
        <div class="formline inline col-6-2-2">
            <input type="datetime-local" data-ng-model="event.times.begin" id="eventBeginDate" name="beginDate" placeholder="begin, e.g. 1990-12-30T12:00:00" class="form-control" required>

            <p class="error" data-ng-show="eventForm.beginDate.$error.required && eventForm.beginDate.$dirty">Please enter a begin date.</p>
            <p class="error" data-ng-show="eventForm.beginDate.$error.date && eventForm.beginDate.$dirty">Please enter a valid begin date.</p>
        </div>
        <div class="formline inline col-6-2-2">
            <input type="datetime-local" data-ng-model="event.times.end" id="eventEndDate" name="endDate" placeholder="end, e.g. 1990-12-30T12:00:00" class="form-control" required>

            <p class="error" data-ng-show="eventForm.endDate.$error.required && eventForm.endDate.$dirty">Please enter a end date.</p>
            <p class="error" data-ng-show="eventForm.endDate.$error.date && eventForm.endDate.$dirty">Please enter a valid end date.</p>
        </div>
            <p class="error" data-ng-show="eventForm.endDate.$valid && eventForm.beginDate.$valid && !isValidDate()">End date before begin date.</p>
    </div>

    <div class="form-group">
        <button class="btn btn-info" data-ng-disabled="eventForm.$invalid || !isValidDate() || !isCapacityRight()" type="submit" name="button">Save</button>
    </div>
</form>
