<div class="title">
    <a class="btn btn-add" href="#/events/new">&#10133;</a>
    <h2>Events</h2>
</div>
<div class="content">
    <ul>
        <li data-ng-repeat="event in events" class="eventlist">
            <div class="event-item">
                    <a data-ng-href="#/events/{{event.id}}">
                        <strong>{{event.name}}</strong><br />
                        {{event.times.begin | date:"dd.MM.yy HH:mm"}} - {{event.times.end | date:"dd.MM.yy HH:mm"}}<br />
                        {{event.location.name}}, {{event.location.street}}, {{event.location.plz}} {{event.location.city}}
                        <p><a data-ng-href="#/events/{{ event.id }}/edit">edit</a></p>
                    </a>
            </div>
        </li>
    </ul>
</div>
